* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  padding: 20px;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

/* Slider styles */
.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.slider-text {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
