.about {
  padding: 100px 20px 20px 20px;

  h2,
  h3 {
    padding: 20px 0 20px 0;
  }

  h2 {
    color: #ff823f;
  }

  .right-button {
    width: calc(50% - 5px);
  }

  .left-button {
    float: right;
    width: calc(50% - 5px);
  }
}

.about img {
  width: 100%;
  height: auto;
}

.about-facility {
  h2 {
    color: black;
  }
  h3 {
    color: #ff823f;
  }
}

.company-house {
  background: #f3f0e7;
  margin-bottom: 5px;
  margin-left: -20px;
  margin-right: -20px;
  height: 80px;
  position: relative;

  h3,
  p {
    padding-left: 20px;
  }

  a {
    position: absolute;
    right: 20px;
    bottom: 3px;
  }

  p {
    position: absolute;
    bottom: 3px;
  }
}

.company-ledningsgruppen {
  background: #f3f0e7;
  margin-bottom: 5px;
  margin-left: -20px;
  margin-right: -20px;
  height: 200px;
  position: relative;

  .company-left {
    float: left;
    img {
      object-fit: cover;
      width: 134px;
      height: 200px;
    }
  }

  .company-right {
    float: left;
    position: relative;
    height: 200px;
    width: 30%;
    h3 {
      padding: 0;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    p {
      position: absolute;
      top: 35px;
      left: 10px;
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    .mail {
      position: absolute;
      bottom: 30px;
      left: 10px;
    }
  }
}

.historia {
  text-align: center;
  margin: 20px 0 20px 0;
  padding: 20px;
  background: #f3f0e7;
  h3 {
    color: #ff823f;
  }

  p {
    padding: 20px;
  }
}

.about-info {
  position: relative;
  padding: 10px 0 10px 0;
  .about-title {
    h3 {
      display: inline;
    }

    .plus-icon {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}

.about-hide {
  padding: 10px 0 10px 0;
  display: none;
}

.about-hide.show {
  display: block;
}
