.about {
  padding: 70px 20px 20px 20px;
}

.historia {
  text-align: center;
  padding: 20px;
  background: #e5e5e5;
}

.aboutInfo {
}

.aboutTitle {
}

.aboutHide {
  display: none;
}

.aboutHide.show {
  display: block;
}

.aboutImage img {
  width: 100%;
  height: auto;
}
