.about {
  padding-top: 70px;
}

.historia {
  text-align: center;
  padding: 20px;
  background: #e5e5e5;
}

.aboutInfo {
}

.aboutTitle {
}

.aboutHide {
}

.aboutImage img {
  width: 100%;
  height: auto;
}
