.archive {
  padding-top: 100px;

  h1 {
    padding: 0 20px 20px;
  }

  p {
    padding: 0 20px 10px;
  }

  .button-wrapper {
    margin: 40px 0 30px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cccccc;

    button {
      border: none;
      text-transform: initial;
      margin: 0;
      width: 60px;
      height: 30px;

      &.active {
        border-bottom: 1px solid black;
      }
    }
    button:hover {
      background-color: transparent;
    }
  }
}

.images-posts, .videos-posts{
  display: none;
  padding: 0 20px;


  &.show{
    display: initial;
  }

  .post {
    padding: 0 20px;
  }

  .images, .videos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
      margin: 5px;
      height: 200px;
      overflow: hidden;
      img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .images-posts, .videos-posts{
    .images, .videos {
      grid-template-columns: 1fr 1fr 1fr;

      div{
        height: 500px;
      }
    }
  }
}
