button {
  font-family: Roboto;
  width: 177px;
  height: 51px;
  background-color: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 20px 0;
  border: none;
  background-color: $deepTurquoise;
  border-radius: 3px;

  a {
    color: $waveWhite;
    font-family: Roboto;
  }

  &:hover {
    background-color: #4B6966;
    transform: translate(-2px, -2px);
  }
}
