.contact {
  padding: 100px 20px 20px 20px;
  h3 {
    padding: 20px 0 10px 0;
    color: #ff823f;
  }

  h2 {
    padding: 20px 0 0 0;
  }
}

.contact-cards {
  margin: 20px 0 20px 0;
}

.contact-card {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff823f;
  background: #223533;
  text-align: center;
  margin-bottom: 5px;
  p {
    padding: 10px 0 10px 0;
  }
}
