.footer-wrapper {
  padding: 30px 20px 20px;
  background-color: #223533;
  color: #F3F0E7;
  text-align: center;

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 24px;
  }

  p {
    margin-bottom: 10px;
  }

  .social-media-wrapper {
    a {
      margin: 0 10px;
    }
  }

  .sponsors-wrapper {

    .logo-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      img {
        width: 100px;
        margin: 10px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 150px 0;

    .social-media-wrapper, .contact-wrapper{
      text-align: left;
    }

    .sponsors-wrapper {
      grid-column: 1/3;
    }
  }
}
