/* Events carousel */
.upcoming-wrapper {

  .event-carousel-type1-head {

    .mec-event-date-carousel::after, .mec-event-date-carousel {
      background-color: #223533;
      border: none;
      font-family: Playfair Display;
    }

    .mec-event-date-carousel:before{
      box-shadow: none;
    }
  }

  .mec-event-carousel-content{
    border: none;
    padding: 30px 5px;
    box-shadow: none;
  }

  .mec-wrap h4{
    margin-top: 20px;
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 24px;
  }

  .mec-event-image {
    width: 100%;
    img {
      height: 450px;
      object-fit: cover;
    }
  }

  h2{
    margin: 50px 20px 20px;
    font-size: 36px;
  }

  .text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 100px;

    p {
      font-size: 20px;
      text-align: center;
      font-family: Playfair Display;
      line-height: 130%;
    }

    button {
      margin-top: 30px;
    }
  }
}

/* Info */
.front-page-wrapper {

  & > p {
    text-align: center;
    padding: 40px 20px 0;
    font-family: Playfair Display;
    font-size: 22px;
    line-height: 149%;
  }

  .about-wrapper {
    padding: 0 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      min-width: 350px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .text-wrapper {
      max-width: 400px;

      h1 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 10px 0 30px;
        letter-spacing: 0.02em;
      }

      p {
        font-weight: normal;
        line-height: 25px;
        font-size: 20px;
        margin-bottom: 20px;
      }

      a {
        font-family: Roboto;
        font-size: 20px;

        img {
          margin-left: 10px;
        }
      }

      .center {
        margin: 50px 0 20px;

        p {
          width: 100%;
          text-align: center;
          font-family: Playfair Display;
        }
      }

      .button-wrapper {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
          width: 155px;

          a {
            font-family: Playfair Display;
          }
        }
      }
    }
  }

  /* Footer */
  .footer-wrapper {
    padding: 30px 20px 20px;
    background-color: #223533;
    color: #F3F0E7;
    text-align: center;

    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 24px;
    }

    p {
      margin-bottom: 10px;
    }

    .social-media-wrapper {
      a {
        margin: 0 10px;
      }
    }

    .sponsors-wrapper {
      img {
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  /* Event carousel */
  .upcoming-wrapper {
    h2 {
      text-align: center;
    }
  }

  /* Info */
  .front-page-wrapper {
    & > p {
      width: 600px;
      margin: 100px auto;
    }

    .about-wrapper {
      padding: 0;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 730px;

      .image {
        max-width: 40vw;
        min-width: 40vw;
        height: 100%;
        order: 2;
      }

      .text-wrapper {
        background: url(/themes/Gathenhielmska/assets/images/flower-wall.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 60vw;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        color: #ffffff;
        padding-top: 110px;

        h1, p {
          width: 55%;
        }

        a {
          margin-top: 60px;
          font-size: 24px;
          color: white;
        }

        .button-wrapper {
          button {
            border: 1px solid #ffffff;
            margin-right: 10px;
            width: 200px;
            margin-bottom: 50px;

            a {
              color: #ffffff;
              font-size: 18px;
            }
          }
        }

      }
    }

    /* Footer */
    .footer-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 40px 150px 0;

      .social-media-wrapper, .contact-wrapper{
        text-align: left;
      }

      .sponsors-wrapper {
        grid-column: 1/3;
      }
    }
  }
}
