/* Events carousel */
.upcoming-wrapper {

  .event-carousel-type1-head {

    .mec-event-date-carousel {
      background-color: #223533;
      border: none;
      font-family: Playfair Display;
      font-size: 50px;
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      padding-left: 2%;
      min-width: 140px;
    }

    .mec-event-date-carousel::after {
      display: none;
    }

    .mec-event-date-carousel:before{
      box-shadow: none;
      height: 100%;
    }

    .mec-event-date-info, .mec-event-date-info-year {
      font-size: 18px;
      margin-left: 11px;
    }

    .mec-event-date-info {
      top: 3%;
    }

    .mec-event-date-info-year {
      top: 35%;
    }
  }

  .mec-event-carousel-content{
    border: none;
    padding: 0 5px;
    margin: 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    .mec-event-carousel-title{
      margin-top: 20px;
      font-family: Playfair Display;
      font-weight: bold;
      font-size: 24px;

      .mec-color-hover:hover {
        color: $linenBlue;
      }
    }

    p {
      display: none;
    }
  }

  .mec-event-image {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .mec-owl-theme .owl-dots .owl-dot {
    &.active span {
      background-color: #223533;
    }

    &:focus {
      outline: none;
    }

    span{
      border: 1px solid #223533;
      background-color: transparent;
      width: 15px;
      height: 15px;
    }
  }

  h2{
    margin: 50px 20px 20px;
    font-size: 36px;
  }

  .text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px;
    margin: 50px 0 60px;
    background: url(../../images/wallpaper-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    p {
      font-size: 22px;
      text-align: center;
      font-family: Playfair Display;
    }

    button {
      margin-top: 30px;
    }
  }
}

/* Info */
.front-page-wrapper {

  & > p {
    text-align: center;
    padding: 40px 20px;
    font-family: Playfair Display;
    font-size: 22px;
    line-height: 149%;
    background-color: $deepTurquoise;
    color: $waveWhite;
  }

  .about-wrapper {
    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      min-width: 350px;
      overflow: hidden;
      height: 240px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .text-wrapper {
      max-width: 400px;

      h1 {
        padding: 0 20px;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 10px 0;
        letter-spacing: 0.02em;
      }

      p {
        padding: 0 20px;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 20px;
      }

      & > a {
        padding: 0 20px;
        font-family: Roboto;
        font-size: 20px;
        color: $mandarin;

        img {
          margin-left: 10px;
        }
      }

      .center {
        margin-top: 30px;
        padding: 50px 0 20px;
        background-color: $linenBlue;

        p {
          width: 100%;
          text-align: center;
          font-family: Playfair Display;
          font-size: 20px;
          color: $waveWhite;
        }
      }

      .button-wrapper {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
          width: 155px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .front-page-wrapper {
    /* Event carousel */
    .upcoming-wrapper {
      h2 {
        text-align: center;
      }

      .event-carousel-type1-head {
        .mec-event-date-carousel {
          padding-left: 3%;
        }

        .mec-event-date-info, .mec-event-date-info-year {
          font-size: 20px;
          margin-left: 0;
        }

        .mec-event-date-info {
          top: 11%;
        }

        .mec-event-date-info-year {
          top: 40%;
        }
      }

      .text-wrapper {
        background: $linenBlue;
        padding: 70px 0 50px;

        p {
          color: $waveWhite;
          font-size: 24px;
        }
      }
    }

    /* Info */
    & > p {
      width: 100%;
      padding: 100px 25%;
      font-size: 30px;
    }

    .about-wrapper {
      padding: 0;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 630px;

      .image {
        max-width: 40vw;
        min-width: 40vw;
        height: 100%;
        order: 2;
      }

      .text-wrapper {
        background: url(../../images/flower-wall.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 60vw;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 110px 0 0;

        h1, p {
          padding: 0;
          width: 75%;
          color: $waveWhite;
        }

        p {
          margin-bottom: 0;
        }

        a {
          margin-top: 30px;
          padding: 0;
          font-size: 24px;
          color: $waveWhite;
          width: 330px;
          text-align: right;
        }

        .center {
          background-color: transparent;
          padding-top: 20px;
          width: 70%;

          .button-wrapper {
            justify-content: center;

            button {
              margin-right: 10px;
              margin-left: 10px;
              width: 200px;
              margin-bottom: 50px;
              background-color: $waveWhite;

              &:hover {
                background-color: rgb(218, 214, 205);
              }

              a {
                color: $deepTurquoise;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
