.program {

  .header {
    padding-top: 100px;
  }

  h1 {
    padding: 0 20px 20px;
  }

  p {
    padding: 0 20px;
    font-size: 20px;
    line-height: 140%;
  }

  /* buttons */
  .button-wrapper {
    margin: 15px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      width: 150px;
    }
  }

  /* Filter */
  .filter-wrapper {
    background-color: $waveWhite;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .filter {
      background-color: transparent;
      font-family: Roboto;
      font-size: 18px;
      text-transform: initial;
      border: none;
      width: 100px;
      margin: 0;
      color: $deepTurquoise;

      &:hover {
        background-color: initial;
      }
    }
    .filter-icon{
      justify-self: flex-end;

      &.rotate {
        animation: 100ms rotate linear forwards;
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(180deg);
      }
    }
  }

  /* Events */
  .mec-skin-list-container {
    padding-bottom: 30px;

    .mec-search-form {
      background-color: $waveWhite;
      border: none;
      display: none;

      &.show {
        display: block;
      }

      .mec-dropdown-wrap .mec-dropdown-search select {
        width: calc(100% - 46px);
        margin-left: 10px;
        border-radius: 0;
      }

      .mec-date-search {

        .mec-sl-calendar {
          margin-right: 10px;
        }

        select:last-child {
          width: 65px;
          margin-left: 10px;
          padding-right: 0;
        }

        select {
          border-radius: 0;
        }
      }

      input[type=search] {
        width: calc(100% - 46px);
        margin-left: 10px;
      }
    }

    .mec-month-divider {
      display: none;
    }

    .mec-event-article {
      margin-top: 20px;
      background-color: $waveWhite;
      height: 200px;
      padding: 0;

      .mec-event-image {
        width: 200px;
        height: 200px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .mec-event-time, .mec-end-date-label, .mec-sl-calendar, .mec-start-date-label, .mec-start-time, .mec-end-time {
        color: #000000;
        font-family: roboto;
        font-size: 15px;
        margin-top: 5px;
        color: $deepTurquoise;
      }

      .mec-start-date-label {
        display: inline-block;
        padding-top: 10px;
      }

      .mec-time-details {
        display: none;
      }

      .mec-event-title {
        font-family: Playfair Display;
        font-size: 20px;
        text-transform: initial;
        padding-right: 30px;

        .mec-color-hover {
          color: $deepTurquoise;
        }

        .mec-color-hover:hover {
          color: #6d8885;
        }
      }

      .mec-event-detail {
        i {
          display: none;
        }
        font-family: roboto;
        font-size: 16px;
        line-height: initial;
        color: $deepTurquoise;
        font-weight: 300;
      }

      .event-color, .mec-sl-calendar, .mec-sl-clock {
        display: none;
      }
    }
    .mec-load-more-wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .mec-load-more-button {
        font-family: Roboto;
        width: 177px;
        height: 51px;
        background-color: none;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 20px 0;
        border: none;
        background-color: $deepTurquoise;
        border-radius: 3px;
        color: $waveWhite;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #4B6966;
          transform: translate(-2px, -2px);
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .program {
    .header {
      background-color: $waveWhite;
      padding-bottom: 40px;

      h1, p, .button-wrapper {
        width: 60%;
        margin: 0 auto;
      }

      h1 {
        text-align: center;
        padding: 40px 0 50px;
        font-size: 52px;
      }

      .button-wrapper {
        justify-content: center;
        margin-top: 30px;

        button {
          width: 177px;
          margin-left: 20px;
        }
      }
    }

    /* Events filter*/
    .filter-wrapper {
      display: none;
    }

    .mec-skin-list-container {
      .mec-search-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding-top: 20px;

        i {
          display: none;
        }

        select {
          appearance: none;
          background: url("/themes/Gathenhielmska/assets/images/expand-arrow.svg") no-repeat right;
          background-size: 20px;
          border: 0;
          color: black;
          font-family: Playfair Display;
          font-size: 20px;
        }

        .mec-dropdown-wrap {
          width: 200px;
          display: inline-block;

          .mec-dropdown-search {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            select {
              margin: 0 0 0 5px;
              width: 140px;
            }
          }
        }

        .mec-date-search {
          width: 300px;
          margin-right: 30px;

          select:nth-child(3) {
            width: 125px;
            margin: 0 10px 0 30px;
          }

          select:last-child {
            width: 100px;
          }
        }

        .mec-text-input-search{
          width: 400px;
          padding-bottom: 7px;

          i {
            display: initial;
            background-color: transparent;
            color: black;
            border: 0;
            font-size: 25px;
            padding-bottom: 0;
          }

          input[type="search"] {
            margin: 0;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid black;
          }
        }
      }
    }

    /* Events */
    .mec-wrap {

      .mec-month-divider {
        display: block;
        width: 100%;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 10px;

        span {
          border-bottom: 0;
          text-transform: capitalize;
          font-size: 32px;
        }

        span:before {
          display: none;
        }
      }

      .mec-event-list-classic{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .mec-event-article {
          background-color: transparent;
          margin: 10px;
          width: 400px;
          height: 550px;

          .mec-event-image {
            width: 100%;
            height: 400px;
            margin: 0;
          }

          .mec-event-time,
          .mec-end-date-label,
          .mec-sl-calendar,
          .mec-start-date-label,
          .mec-start-time,
          .mec-end-time {
            font-size: 20px;
            font-weight: 300;
          }

          .mec-event-title {
            font-size: 24px;
          }
        }
      }
    }
  }
}


