.search-page {
  padding: 100px 20px 20px 20px;
  margin: 0 0 50px 0;
}

.search-result {
  a {
    color: $deepTurquoise;
  }

  button {
    width: auto;
    height: auto;
    padding: 10px;
    color: $waveWhite;
  }

  button:hover {
    cursor: default;
  }

  button:focus {
    outline: none;
  }

  h2 {
    padding: 20px 0 10px 0;
  }

  p {
    padding: 0 0 10px 0;
  }

  .search-link {
    position: relative;

    a {
      position: absolute;
      bottom: 30px;
      right: 0px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .search-page {
    padding: 140px 20px 20px 20px;
    width: 60%;
    margin: auto;

    h1 {
      font-size: 52px;
      padding: 0 0 50px 0;
      text-align: center;
    }
  }
}
