.single-event-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;

  &>a img{
    margin: 0 20px 10px;
  }

  h1 {
    margin: 0 20px 30px;
  }

  i {
    display: none;
  }

  i + h3 {
    display: none;
  }

  .mec-single-event-date,
  .mec-single-event-time,
  .mec-single-event-location,
  .mec-event-more-info,
  .mec-single-event-category {
    background-color: transparent;
  }


  .info-wrapper {

    .image-wrapper {
      margin: 0 20px 10px;
      width: 89%;
      padding-bottom: 89%;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .date-wrapper {
      width: 100%;
      background-color: rgb(172, 172, 172);
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;

      .mec-single-event-date {
        padding: 0;
        margin: 0;
      }

      .mec-single-event-time {
        font-size: 20px;
        padding: 0;
        margin: 0;
      }
    }

    .buy-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(231, 231, 231);
      width: 100%;
      padding: 20px 0;

      .mec-single-event-location {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mec-address {
          display: none;
        }

        .location {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          order: 0;
        }

        .author {
          font-family: Playfair Display;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 32px;
          order: 1;
        }
      }
      &>p {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0;
      }

      button {
        width: 80%;
      }
    }
  }
  .content-wrapper {
    .mec-single-event-category {
      padding: 0 20px;
      margin-bottom: 20px;

      dt {
        display: none;
      }
      dd {
        padding: 10px;
        margin-right: 10px;
        margin-top: 30px;
        display: inline-block;
        border: 1px solid black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
      }
    }
    p {
      padding: 0 20px;
      font-size: 20px;
      line-height: 140%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .single-event-wrapper {
    padding-top: 130px;
    margin: 0 auto;
    width: 80vw;

    h1 {
      font-size: 52px;
    }
    .info-wrapper {
      display: flex;

      .image-wrapper {
        width: 70%;
        padding-bottom: 60%;
      }
      .date-wrapper {
        background-color: transparent;
        display: block;
        padding: 15px 0;

        .mec-single-event-date {
          margin-bottom: 10px;
        }
      }
      .buy-wrapper {
        background-color: transparent;
        align-items: flex-start;

        .mec-single-event-location {
          align-items: flex-start;
          padding: 0;
        }

        p {
          font-size: 32px;
          line-height: 43px;
        }

        button {
          width: 250px;
        }
      }
    }
    .content-wrapper {
      p {
        width: 60%;
      }
    }
  }
}
