.swiper-container {
  padding-top: 70px;
  width: 100%;
  height: 95vh;

  .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  }

  .slider-text {
    position: absolute;
    bottom: 50px;
    width: 100vw;
    height: auto;
    background-color: $waveWhite;
    padding: 10px 40px 10px 10px;

    h2 {
      font-weight: 100;
      margin-bottom: 10px;
      font-size: 26px;
    }

    a {
      color: $deepTurquoise;
      font-family: Playfair Display;
    }

    .read-more {
      font-family: Roboto;
      font-size: 18px;
      display: block;
      width: 135px;
      height: 42px;
      background-color: $deepTurquoise;
      border-radius: 3px;
      color: $waveWhite;
      text-transform: uppercase;
      padding: 10px 28px;
      margin-top: 20px;

      &:hover {
        background-color: #4B6966;
        transform: translate(-2px, -2px);
      }
    }
  }
}


@media screen and (min-width: 1000px) {
  .swiper-container {
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .slider-text {
      width: 500px;
    }
  }
}
