/* WordPlate */

/* Colors */
$waveWhite: #F3F0E7;
$mandarin: #E15600;
$deepTurquoise: #223533;
$linenBlue:  #6C8381;
$background: #FFFDF8;
$formText:  #C9C5BB;


@import 'components/_components';

/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Playfair Display", serif;
  background-color: $background;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: $deepTurquoise;
}

h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 121.2%;
  color: $deepTurquoise;
}

h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 157.19%;
  color: $deepTurquoise;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 20px;
}
